flows.json
[{"id":"ad1035c1.46c2a8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"3a02c8b4.69cc88","type":"http in","z":"ad1035c1.46c2a8","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":250,"y":240,"wires":[["9b369c18.ad1f3","9a793ad4.ca0068"]]},{"id":"9b369c18.ad1f3","type":"template","z":"ad1035c1.46c2a8","name":"","field":"req.query","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        \n    </head>\n    <body>\n        <h1>\n            hello\n   This is the payload: {{payload}} !         \n        </h1>\n    </body>\n    \n    \n</html>\n\n\n\n\n","output":"str","x":480,"y":240,"wires":[["2e7a1f1f.6dbbf"]]},{"id":"2e7a1f1f.6dbbf","type":"http response","z":"ad1035c1.46c2a8","name":"","statusCode":"200","headers":{},"x":730,"y":240,"wires":[]},{"id":"9a793ad4.ca0068","type":"change","z":"ad1035c1.46c2a8","name":"","rules":[{"t":"set","p":"req.query","pt":"msg","to":"msg.payload","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":360,"wires":[["6dc41ace.0f4594","1efc2430.bb045c"]]},{"id":"b6c639bd.b9b3d8","type":"myStrom Switch","z":"ad1035c1.46c2a8","name":"","request":"on","device":"e146f647.6cb648","x":1080,"y":340,"wires":[[]]},{"id":"6dc41ace.0f4594","type":"switch","z":"ad1035c1.46c2a8","name":"","property":"payload.device","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":360,"wires":[["1efc2430.bb045c","f0ee84db.f96778"],["6ce6630b.6bea5c"]]},{"id":"1efc2430.bb045c","type":"debug","z":"ad1035c1.46c2a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":480,"wires":[]},{"id":"205d60d2.7232e","type":"ifttt out","z":"ad1035c1.46c2a8","eventName":"Dlink_on","key":"326704ba.05d06c","x":880,"y":520,"wires":[]},{"id":"6ce6630b.6bea5c","type":"switch","z":"ad1035c1.46c2a8","name":"","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":540,"wires":[["205d60d2.7232e"],["bbafc618.df5308"]]},{"id":"bbafc618.df5308","type":"ifttt out","z":"ad1035c1.46c2a8","eventName":"Dlink_off","key":"326704ba.05d06c","x":890,"y":600,"wires":[]},{"id":"f0ee84db.f96778","type":"switch","z":"ad1035c1.46c2a8","name":"","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":380,"wires":[["b6c639bd.b9b3d8"],["7437ac18.3681a4"]]},{"id":"7437ac18.3681a4","type":"myStrom Switch","z":"ad1035c1.46c2a8","name":"","request":"off","device":"e146f647.6cb648","x":1080,"y":420,"wires":[[]]},{"id":"e146f647.6cb648","type":"myStrom Config Switch","z":"","host":"192.168.8.100","mac":"3C:71:BF:6B:25:3C","name":"Mystrom_Switch"},{"id":"326704ba.05d06c","type":"ifttt-key","z":""}]